<footer class="footer {{include.size}}">
    <div class="footer__inner">
        {%- include social-list.html -%}
    </div>
</footer>

<script src={{ "/assets/scripts/ext/mapbox-gl-js_v0.40.0_mapbox-gl.js" | relative_url }}></script>
<script src={{ "/assets/scripts/ext/moment.js" | relative_url }}></script>
<script src={{ "/assets/scripts/ruta.js" | relative_url }}></script>
<script src={{ "/assets/scripts/sidespor.js" | relative_url }}></script>
<script src={{ "/assets/scripts/main.js" | relative_url }}></script>