{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}

{%- if page_paths -%}
<nav class="nav">
    <ul>
    {%- for path in page_paths -%}
    {%- assign my_page = site.pages | where: "path", path | first -%}
    {%- if my_page.title -%}
    <li>
        <a class="nav-link nav-link__{{my_page.id}}" href="{{ my_page.url | relative_url }}"><span>{{ my_page.title | escape }}</span>
            {%- include nav-image.html img=my_page.id alt=my_page.title -%}
        </a>
    </li>
    {%- endif -%}
    {%- endfor -%}
    </ul>
</nav>
{%- endif -%} 