html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, img,
small,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas,
figure, figcaption, footer, header, 
nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
    box-sizing: border-box;
    font-size: 100%;
}
abbr {
    font-variant: none;
    text-decoration: none;
}
*, *:before, *:after {
    box-sizing: inherit;
}


body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    line-height: 1.5;
    font-size: 1.3rem;
}

h1{
    font-family: 'Bungee Shade', cursive; 
    font-size: 3rem;
    margin: 0 0 1rem 0;
    line-height: 1.25;
}


p{
    margin: 1rem 0;
}
ul{
    padding: 0 0 0 20px;
}
li{
    margin: .5rem 0;
}
a{
    color: inherit;
}
em{
    font-weight: bold;
}

@media (min-width: 600px){
    h1{
        font-size: 4rem;
        margin: 0 0 2rem 0;
    }
    body {
        font-size: 1.4rem;
    }
}

@media (min-width: 900px){
    h1{
        font-size: 6rem;
    }
}

a:hover{
    background: black;
    color: white;
}

.section{
    min-height: 100vh;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;  
}

.section__inner{
    max-width: 1000px;
}

@media (min-width: 600px){
    .section {
        padding: 2rem;
    }
}
@media (min-width: 900px){
    .section { 
        padding: 3rem;
    }
}

/**
* FIRST SECTION
*/

#header{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.textOnPic {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    color: white;
}

.textOnPic::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    background: linear-gradient(to bottom right, rgba(0,0,0,1) 0%,rgba(0,0,0,0.55) 50%, rgba(0,0,0,.05) 100%);
}

#header *{
    position: relative;
    z-index: 1;
}

.logo-container{
    margin: 2rem 0 0 0;
    width: 100%;
    text-align: center;
}

.logo-container__inner{
    display: inline-block;
    max-width: 500px;
}

.logo{
    display: block;
    max-width: 100%;
    height: auto;
}


@media (min-width: 500px){
    .logo-container{
        padding: 3rem;
    }
}


.animBg{
    background: white;
    animation: animBg 15s infinite reverse;
}

.animBg:nth-child(2){
    animation-delay: -10s;
}
.animBg:nth-child(3){
    animation-delay: -15s;
}
.animBg:nth-child(4){
    animation-delay: -5s;
}
.animBg:nth-child(5){
    animation-delay: -1s;
}

.animBg:nth-child(even){
    animation-direction: alternate-reverse;    
}

@keyframes animBg {
    15% { background-color: rgba(104, 207, 255, 0.2); } 
    30% { background-color: rgba(255, 255, 0, 0.2); } 
    45% { background-color: rgba(0, 128, 0, 0.2); } 
    60% { background-color: rgba(0, 0, 255, 0.2); }
    75% { background-color: white; }
}

@keyframes blinker {  
    50% { opacity: 0; }
}



table{
    margin: 1rem 0;
    width: 100%;
    border-collapse: collapse; 
    border-spacing: 0;
}
th,td{
    height: 2.5rem;
    vertical-align: middle;
    border: 1px solid rgba(0,0,0,.1);
}
th {  
    font-weight: bold;
}

td {  
    background: transparent;
    text-align: center;
}

#gearTable{
    max-width: 500px;
}