<footer class="footer {{include.size}}">
    <div class="footer__inner">
        <div class="footer__some">
            <abbr title="Social Media">SoMe</abbr>
            <span class="some-arrow">⬇</span>
        </div>
        {%- include social-list.html -%}
    </div>
</footer>

<div class="elfsight-app-c7063acb-22ca-4feb-9910-a457f6ff5e26"></div>

<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<script src={{ "/assets/scripts/ext/mapbox-gl-js_v0.40.0_mapbox-gl.js" | relative_url }}></script>
<script src={{ "/assets/scripts/ext/moment.js" | relative_url }}></script>
<script src={{ "/assets/scripts/ruta.js" | relative_url }}></script>
<script src={{ "/assets/scripts/sidespor.js" | relative_url }}></script>
<script src={{ "/assets/scripts/main.js" | relative_url }}></script>