<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }} - {{ site.slogan }}</title>
  <meta name="Keywords" content="{{ site.seo_keywords }}">

  <meta property="og:image" content="{{ "/assets/media/pics/headerPics/10.jpg" | relative_url }}">
  <meta property="og:url" content="http://stirsdag.no/">

  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans" rel="stylesheet">

  <link rel="stylesheet" href="{{ "/assets/style/main.css" | relative_url }}">

  {%- include google-analytics.html -%}

</head>

       