<header class="site-header" role="banner" id="header">
  <!--<a class="booking-btn" href="https://www.meetup.com/skyblazers/">
        Kommer du? Meld deg på, da vel! 🙋‍♀️
    </a>-->

  <div class="site-title-container">
    <h1 class="site-title">{{ site.title }}</h1>
    <div class="covid-announcement">
      <h2>Covid-19 og Stirsdag</h2>
      <p>
        Oslo kommune har kommet med noen heftige innstramminger på sosiale
        arrangementer. Vi har derfor bestemt oss for å droppe Stirsdag inntil
        videre. Sjekk ut
        <a href="https://www.meetup.com/skyblazers/">Meetups-siden vår</a> for
        mer info om Stirsdag og andre arrangementer.
      </p>

      <!--<p>Vi kjører på som vanlig, men med et par forbehold:</p>
            <ul>
                <li>Vi løper i puljer på 10stk.</li>
                <li>Alle som møter må være 100% symptomfri.</li>
                <li>Vi unnngår spytting, hosting, snørring og oppkast på hverandre.</li>
                <li>For å vite hvor mange som kommer må man <a href="https://www.meetup.com/skyblazers/">melde din ankomst</a>.</li>
            </ul>-->
    </div>
  </div>
  {%- include nav.html -%}
</header>
