<header class="site-header" role="banner" id="header">
    <div class="site-title-container">
        <h1 class="site-title">{{ site.title }}</h1>
        <p class="site-description">
            <em>Covid-19 og Stirsdag:</em> <br>
            Vi starter opp igjen 15. september. Alle som møter må være symptomfri. Vi løper i puljer på 20 personer og holder minst 2 meters avstand. Vi unnngår spytting, hosting eller neseutblåsing. Ellers er alt som normalt. 
        </p>
        <a href="/hva-er-stirsdag">Les mer om hvordan det gjennomføres her.</a>
    </div>
    {%- include nav.html -%}
</header>