<header class="site-header" role="banner" id="header">
  <a class="booking-btn" href="https://www.meetup.com/skyblazers/">
      Kommer du? Meld deg på, da vel! 🙋‍♀️
  </a>

  <div class="site-title-container">
    <h1 class="site-title">{{ site.title }}</h1>
    <div class="covid-announcement">
      <h2>Covid-19 og Stirsdag</h2>
      <p>Vi kjører på som vanlig, men med et par forbehold:</p>
      <ul>
          <li>- Du må <a href="https://www.meetup.com/skyblazers/">melde din ankomst</a></li>
          <li>- Vi deler oss i to puljer fra start; én rask gruppe og én med normalt tempo</li>
          <li>- Alle som møter må være 100% symptomfri</li>
          <li>- Vi unnngår spytting, hosting, snørring og oppkast på hverandre</li>
      </ul>
      <p>Capiche?</p>
    </div>
  </div>
  {%- include nav.html -%}
</header>
