<ul class="social">
    <li class="social__facebook">
        <a href="https://www.facebook.com/skyblazersrunning/" title="Sky Blazers på Facebook">
            <span>Facebook</span>
            {%- include icon-facebook.svg -%}   
        </a>
    </li>
    <li class="social__instagram">
        <a href="https://www.instagram.com/skyblazersrunning/" title="Sky Blazers på Instagram">
            <span>Instagram</span>
            {%- include icon-instagram.svg -%}   
        </a>
    </li>
    <li class="social__strava">
        <a href="https://www.strava.com/clubs/skyblazers" title="Sky Blazers på Strava">
            <span>Strava</span>
            {%- include icon-strava.svg -%}   
        </a>
    </li>
    <li class="social__medium">
        <a href="https://medium.com/skyblazers" title="Sky Blazers på Medium">
            <span>Medium</span>
            {%- include icon-medium.svg -%}   
        </a>
    </li>
    <li class="social__phone">
        <a href="tel:004793024486" title="Ring Bjørnar">
            <span>Telefon (Bjørnar)</span>
            {%- include icon-phone.svg -%}                                   
        </a>
    </li>
</ul>