
@charset "utf-8";

// Vendor -------------- //
@import 'lib/reset';
@import 'lib/mapbox'; 
@import 'lib/helpers'; 

// Core -------------- //
@import 'core/vars';
@import 'core/utils'; 


// The rest -------------- //
@import 'core/vars';


[data-touch="false"] .mobileOnly { 
    display: none;
}

@media (max-width: 600px){
    [data-touch="false"] .mobileOnly {
        border: 2px solid black;
    }
}

body{
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
    line-height: 1.5;
    font-size: 1.3rem;
}

h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
    margin: 0 0 1rem 0;
    line-height: 1.25;
}

h2,h3 {
    font-weight: bold;
}

h2 {
    margin-top: 2rem;
}

p{
    margin: 1rem 0;
}
ul{
    padding: 0 0 0 20px;
}
li{
    margin: .5rem 0;
}
a{
    color: inherit;
}
em{
    font-weight: bold;
}
ul {
    padding: 0;
    list-style: none;
}

ol {
    padding-left: 2rem;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (min-width: 600px){
    h1{
        font-size: 4rem;
        margin: 0 0 2rem 0;
    }
    body {
        font-size: 1.4rem;
    }
}

@media (min-width: 900px){
    h1{
        font-size: 6rem;
    }
}

a:hover{
    background: black;
    color: white;
}

.section{
    padding: 2rem 1rem;
    min-height: 85vh;
    //text-align: right;

    &__inner{
        max-width: 620px;
        margin: 0 auto;
        position: relative;
        z-index: 2; 
    }

    &.wide{
        padding-right: 0;
        padding-left: 0;
    }

}

.wide {
    .section__inner{
        max-width: 100%;
    }
    .section__header {
        padding: 0 2rem;
    }
}


@media (min-width: 600px){
    .section, 
    .footer {
        padding: 2rem;
    }
}

.back-btn{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
    padding: .5rem;

    @media (min-width: 500px){
        display: block;
    }
}


#header{
    
}
.site-header{
   
}

.site-title-container{
    min-height: 40vh;
    //text-align: right;
    padding: 1rem;
    @media (min-width: 500px){
        padding: 2rem;
    }
}

.site-title{
    
}

nav{
    ul{
        @media (min-width: 500px){
            display: flex;
            flex-flow: row wrap;
            min-height: 100vh;
        }
    }
    
    li{
        margin: 0;
        font-size: 2rem;
        
        @media (min-width: 500px){
            margin: auto;
            flex: 1 auto;
            display: flex;
            justify-content: center;
            width: 50%;
            height: 50vh;
            font-size: 3rem;
        }

        @media (min-width: 880px){
            width: 33.3333333%;
            font-size: 2rem;
        }
    }

    a{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem;
        min-height: 250px;
        overflow: hidden;
        position: relative;
        border: 2px solid black;
        background: transparent;
        transition: all .3s ease-out 0s;

        [data-touch="false"] &:hover {
            span{
                background: black;
                color: white;
            }
            img{
                opacity: .5;
            }

        }

        @media (min-width: 500px){
            height: 100%;
        }
    }

    span{
        position: relative;
        z-index: 2;
        background: white;
        padding: 0 1rem;
    }

    img{
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition: transform .25s ease-out 0s;
        opacity: 1;
    }
}

.logo-container{
    margin: 2rem 0 0 0;
    width: 100%;
    text-align: center;
}

.logo-container__inner{
    display: inline-block;
    max-width: 500px;
}

.logo{
    display: block;
    max-width: 100%;
    height: auto;
}

@media (min-width: 500px){
    .logo-container{
        padding: 3rem;
    }
}

@keyframes blinker {  
    50% { opacity: 0; }
}

table{
    margin: 1rem 0;
    width: 100%;
    border-collapse: collapse; 
    border-spacing: 0;
    text-align: center;
    border: 2px solid black;
}

th,td{
    height: 2.5rem;
    vertical-align: middle;
    border: 1px solid rgba(0,0,0,.1);
}
th {  
    font-weight: bold;
}

td {  
    background: transparent;
    text-align: center;
}

#podium{
    text-align: left;


}

#podium h2 {
    font-weight: bold;
}


.quote-list{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 1rem;
    text-align: left;
}

.quote-list li{
    width: 100%;
    margin: 0 0 0 0;
    z-index: 0;
    position: relative;
    border: 1px solid rgba(0,0,0,.02);
    padding: 1rem 0;
    border-width: 0 0 1px 0;
}

.quote-list [data-active-quote="false"]{
    display: flex;
    align-items: flex-start;
}

.quote-list [data-active-quote="true"]{
    height: 100vh;
}

.quote-list li:last-child{
    border-bottom: 0;
}
.quote-list img{
    position: relative;
    transform: scale(1) rotate(0deg) translate(0,0);
    transform-origin: 50% 50%;
    height: auto;    
    z-index: 1;
}
.quote-list [data-active-quote="false"] img{
    border-radius: 50%;
    width: 20%;
    max-width: 300px;
    margin: 0 .5rem 0 0;
}

.quote-list [data-active-quote="true"] img{
    width: 100vw;
    margin: 0;
    border-radius: 0;
    margin-left: -1rem;
}

.quote-list div{
    padding: 0 0 .5rem 0;
}

.quote-list li[data-active-quote="true"] div{
    padding: .5rem;
    position: relative;
    z-index: 2;
    top: -1rem;
    margin-left: -.5rem;
    max-width: 100vw;
    background: rgba(255,255,255,1);
    transform: translate(0, -100%);
    display: inline-block;
}

@media (min-width: 500px){
    .quote-list li{
        align-items: center;
        padding:  2rem 0
    }
    .quote-list img{
        margin: 0 1rem 0 0;
    }
    .quote-list div{
        padding: 1rem;
        transform: translate(0,0);
    }

    [data-touch="false"] .quote-list img{transition: transform .25s ease-out 0s;}
    [data-touch="false"] .quote-list div{transition: transform .25s ease-out .1s;}

    [data-touch="false"] .quote-list li:hover {
        z-index: 1;
        border-color: transparent;
    }

    [data-touch="false"] .quote-list li:hover img{
        transform: scale(1.5) rotate(360deg) translate(0, 0);
        left: 2rem;
    }

    [data-touch="false"] .quote-list li:hover div{
        background: white;
        color: black;
        position: relative;
        transform: translate(1rem, 1rem);
        z-index: 2;
    }
}
@media (min-width: 1000px){
    [data-touch="false"] .quote-list li:hover img{
        left: 3rem;
    }
}


.quote-list span{
    margin: .1rem 0 0 .25rem;
    display: block;
}

blockquote{
    font-style: italic;
    font-size: 1.2rem;
}
blockquote:after {
    content: close-quote;
}
blockquote:before {
    content: open-quote;
}



#map{
    position: absolute;
}

#map:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    width:100%;
    height: 100%;
    z-index: 1;
    display: none;
}

[data-touch="true"] #map:before{
    display: block;
}

#loypa{
    min-height: 95vh;
    position: relative;
}

#loypa h1{ 
    position: relative;
    z-index: 3;
}

.map__overlay{
    padding: .25rem;
    background: rgba(255,255,255,.5);
}

.mapboxgl-popup {
    max-width: 400px;
    z-index: 4;
}

@media (min-width: 500px){
    .map__overlay{
        position: absolute;
    }

    #map:before{display: none;}
    
    [data-touch="false"]  .map__overlay{
        padding: .25rem 1rem;
        background: rgba(255,255,255,.5);
    }
}

.social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1rem;
    line-height: 1rem;
    margin: 2rem 0;
}

.social li{
    margin: 0;
}

.social svg{
    width: 1rem;
    height: 1rem;
}

.social a{
    padding: .5rem;
    display: block;
   
}

.social a > span{
    margin: 0 .25rem 0 0;
}


.social svg {
    display: inline-block;
    vertical-align: middle;
}

.social a:hover svg{
    fill: white;
}
.social__facebook svg{
    fill: #3B5998;
}

.social__instagram svg{
    fill: #E4405F;
}

.social__strava svg {
    fill: #FC4C02;
}

.social__medium svg{
    fill: #1C1B1A;
}

[data-strava-data-loaded="false"]{visibility: hidden;}
[data-strava-data-loaded="true"]{visibility: visible;}


.footer{
    font-size: 1rem;
    text-align: center;
    padding: 4rem 0;
}

.footer__some{
    position: relative;

    abbr {
        color: rgba(255,255,255, .4);
        position: absolute;
        top: 4rem;
        display: block;
        width: 100%;
        left: 0;
        z-index: 2;
        font-weight: bold;
        display: none;
    }
}

.some-arrow{
    font-size: 20rem;
    line-height: 20rem;
    color: black;
    display: none;
}

.footer{
    &__inner{

    }
}

.sidespor .section{
    text-align: left;

    h1{
        //text-align: right;
    }
    
} 

.sidespor__fun-facts{
    margin: 4rem 0;

    ul{
        margin: 1rem 0;
    }

    &-img{
        border-radius: 50%;
        height: auto;
        max-width: 8rem;

        @media (min-width: 800px) {
            max-width: 12rem;
        }
    }
}



#sidespor__fun-facts-text{
	position: relative;
	background: #ffffff;
    border-radius: .4em;
    padding: 1rem;
    display: inline-block;
    font-style: italic;
}

#sidespor__fun-facts-text:after {
	content: '';
	position: absolute;
	top: 0;
	left: 5rem;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #ffffff;
	border-top: 0;
	border-left: 0;
	margin-left: -10px;
    margin-top: -20px;

    @media (min-width: 800px){
        left: 8rem;

    }
}

/*
* Custom colors for each page
*/

$swatch1: #7CFFF0;
$swatch2: rgb(12, 232, 159);
$swatch3: rgb(0, 233, 136);
$swatch4: rgb(255, 61, 203);
$swatch5: rgb(255, 182, 47);

.nav-link{
    &__hva-er-stirsdag {
        [data-touch="false"] &:hover {
            background: $swatch1;
        }
    }
    &__bilder {
        [data-touch="false"] &:hover {
            background: white;
        }
    }
    &__hvem-staar-bak {
        [data-touch="false"] &:hover {
            background: $swatch2;
        }
    }
    &__er-det-stirsdag {
        [data-touch="false"] &:hover {
            background: $swatch3;
        }
    }
    &__loypa {
        [data-touch="false"] &:hover {
            background: white;
        }
    }
    &__quotes {
        [data-touch="false"] &:hover {
            background: $swatch5;
        }
    }
    &__sidespor {
        [data-touch="false"] &:hover {
            background: $swatch2;
        }
    }
    &__utstyr {
        [data-touch="false"] &:hover {
            background: $swatch2;
        }
    }
}

.hva-er-stirsdag{
    
}

.page{
    &.hva-er-stirsdag{
        background: $swatch1;
    }
    &.bilder{
        background: white;
    }
    &.hvem-staar-bak{
        background: $swatch2;
    }
    &.er-det-stirsdag{
        background: $swatch3;
    }
    &.loypa{
        background: white;
    }
    &.quotes{
        background: $swatch5;
    }
    &.sidespor{
        background: $swatch2;
    }
    &.utstyr{
        background: $swatch2;
    }
}


.booking-btn{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: green;
    color: white;
}