---
layout: page
---

<section class="section" id="{{ page.id }}" data-strava-data-loaded="false">
    <div class="section__inner">
        <h1>{{page.title}}</h1>
        {{ content }}
    
        <div id="sidespor__leader-text"></div>

        <div id="podium">
            <h2>Legendene:</h2>
            <ol id="sidespor__podium-list"></ol>
        </div>

        <div class="sidespor__fun-facts">
            <img class="sidespor__fun-facts-img" src={{ "/assets/media/pics/faces/bjornar.jpg" | relative_url }} alt="Selveste Bjørnar Eidsmo" />
            <div></div>
            <div id="sidespor__fun-facts-text"></div>
        </div>
        

    </div>
</section>