---
layout: page
---

<section class="section" id="{{ page.id }}" data-strava-data-loaded="false">
    <div class="section__inner">
        <h1>{{page.title}}</h1>
        {{ content }}
    
        <div id="sidespor__leader-text"></div>

        <div class="sidespor__fun-facts">
            <img class="sidespor__fun-facts-img" src={{ "/assets/media/pics/faces/bjornar.jpg" | relative_url }} alt="Selveste Bjørnar Eidsmo" />
            <div></div>
            <div id="sidespor__fun-facts-text"></div>
        </div>
        
        <div class="videoWrapper">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/L7EjhXV42o0?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

    </div>

    
</section>